@font-face {
  font-family: "Icons";
  src: url('../fonts/Icons.eot');
  src: url('../fonts/Icons.eot?#iefix') format('eot'),
    url('../fonts/Icons.woff2') format('woff2'),
    url('../fonts/Icons.woff') format('woff'),
    url('../fonts/Icons.ttf') format('truetype'),
    url('../fonts/Icons.svg#Icons') format('svg');
}

@mixin icon-styles {
  font-family: "Icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == angle-left {
    $char: "\E001";
  }
  @if $filename == angle-right {
    $char: "\E002";
  }
  @if $filename == borgarbokasafn {
    $char: "\E003";
  }
  @if $filename == borgarbokasafnid-v2 {
    $char: "\E004";
  }
  @if $filename == borgarbokasafnid-v3 {
    $char: "\E005";
  }
  @if $filename == borgarbokasafnid {
    $char: "\E006";
  }
  @if $filename == borgarsogusafn {
    $char: "\E007";
  }
  @if $filename == close {
    $char: "\E008";
  }
  @if $filename == facebook {
    $char: "\E009";
  }
  @if $filename == instagram {
    $char: "\E00A";
  }
  @if $filename == link {
    $char: "\E00B";
  }
  @if $filename == listasafn {
    $char: "\E00C";
  }
  @if $filename == marker {
    $char: "\E00D";
  }
  @if $filename == menningarkort {
    $char: "\E00E";
  }
  @if $filename == rvk-logo {
    $char: "\E00F";
  }
  @if $filename == share {
    $char: "\E010";
  }
  @if $filename == website {
    $char: "\E011";
  }
  @if $filename == youtube {
    $char: "\E012";
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  @include icon-styles;
  
  &:#{$insert} {
    content: icon-char($filename);
  }
}

.icon-angle-left {
  @include icon(angle-left);
}
.icon-angle-right {
  @include icon(angle-right);
}
.icon-borgarbokasafn {
  @include icon(borgarbokasafn);
}
.icon-borgarbokasafnid-v2 {
  @include icon(borgarbokasafnid-v2);
}
.icon-borgarbokasafnid-v3 {
  @include icon(borgarbokasafnid-v3);
}
.icon-borgarbokasafnid {
  @include icon(borgarbokasafnid);
}
.icon-borgarsogusafn {
  @include icon(borgarsogusafn);
}
.icon-close {
  @include icon(close);
}
.icon-facebook {
  @include icon(facebook);
}
.icon-instagram {
  @include icon(instagram);
}
.icon-link {
  @include icon(link);
}
.icon-listasafn {
  @include icon(listasafn);
}
.icon-marker {
  @include icon(marker);
}
.icon-menningarkort {
  @include icon(menningarkort);
}
.icon-rvk-logo {
  @include icon(rvk-logo);
}
.icon-share {
  @include icon(share);
}
.icon-website {
  @include icon(website);
}
.icon-youtube {
  @include icon(youtube);
}