.btn-logo {
  z-index: 50;
  color: inherit;
  background: none;
  font-size: 0;
  transform-origin: center top;

  &_static {
    position: fixed;
    right: 30px;
    bottom: 39px;
  }

  &__icon {
    font-size: 174px;
    transform: translate3d(0,0,0);

    @include mq-phone_lg {
      font-size: 174px * 0.7;
    }
  }
}